.messenger {
	height: calc(100vh - 70px);
	display: flex;
}

.chat-menu {
	flex: 3.5;
}

.chat-menu-input {
	width: 90%;
	padding: 10px 0;
	border: none;
	border-bottom: 1px solid #ddd;
}

.chat-box-wrapper {
	display: flex;
	flex-direction: column;
	position: relative;
}

.chat-box {
	flex: 5.5;
	height: 100%;
}

.chat-box-top {
	height: 100%;
	overflow-y: scroll;
	padding-right: 10px;
}

.chat-box-bottom {
	margin-top: 25px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-message-input {
	width: 80%;
	height: 40px;
	padding: 10px;
}

.chat-submit-btn {
	width: 70px;
	height: 40px;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	background-color: teal;
	color: #fff;
}

.chat-online {
	flex: 3;
}

.chat-menu-wrapper,
.chat-box-wrapper {
	padding: 10px;
	height: 90vh;
}

.no-conversation-text {
	position: absolute;
	top: 30%;
	font-size: 50px;
	color: rgb(224, 220, 220);
	cursor: default;
}

.conv-friends-wrapper {
	min-height: 200px;
	border-radius: 15px;
	padding: 15px;
}

.current-friend {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 5px;
	border-bottom: 1px solid #dad6d6;
	border-radius: 15px;
	cursor: pointer;
}

.send-message-btn {
	display: flex !important;
	margin-left: 15px;
}

.send-message-btn span {
	margin-right: 5px;
}

.left-expand-section-wrap,
.right-expand-section-wrap {
	position: relative;
}

.left-expand-section-wrap:hover .left-side-expand-icon,
.right-expand-section-wrap:hover .right-side-expand-icon {
	display: block;
}


.left-side-expand-icon,
.right-side-expand-icon {
	position: absolute;
	top: 8px;
	display: none;
	cursor: pointer;
}

.right-side-expand-icon svg,
.left-side-expand-icon svg {
	font-size: 40px;
	color: #379fff;
}

.left-side-expand-icon {
	right: -20px;
	transform: rotate(90deg);
}

.right-side-expand-icon {
	left: -20px;
	transform: rotate(-90deg);
}



.left-expand-section-wrap.close,
.right-expand-section-wrap.close {
	width: 50px;
}

.left-expand-section-wrap.close .search-bar,
.left-expand-section-wrap.close .conv-friends-wrapper,
.right-expand-section-wrap.close .topbar-right,
.right-expand-section-wrap.close .chat-online {
	display: none;
}

.left-expand-section-wrap.close .left-side-expand-icon,
.right-expand-section-wrap.close .right-side-expand-icon {
	display: block;
	transform: rotate(0deg);
}

.chat-box-expand-both{
	width: 80% !important;
	width: calc(100% - 100px) !important;
}

.chat-box-expand-one-side{
	width: 70% !important;
	width: calc(75% - 50px) !important;
}

.chat-online-wrapper{
	padding: 15px;
	border-radius: 15px;
}

.searchConvResultWrap{
	position: absolute;
	background-color: #fff;
	padding: 15px;
	z-index: 99;
	width: 100%;
	width: calc(100% - 40px);
	height: auto;
}