.post {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 31px -7px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 0px 31px -7px rgba(0, 0, 0, 0.16);
  margin: 30px 0;
  background-color: #fff
}

.post-wrapper {
  padding: 10px;
}

.post-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-top-left {
  display: flex;
  align-items: center;
}

.post-profile-img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  border-radius: 50%;
  object-fit: cover;
}

.post-username {
  font-size: 15px;
  font-weight: 500;
}

.post-date {
  font-size: 12px;
  margin-left: 10px;
}

.post-center {
  margin: 20px 0;
}

.post-center video {
  max-width: 100%;
  display: block;
  width: 100%;
}

.post-img {
  /* margin-top: 20px; */
  width: 100%;
  max-height: 500px;
  /* object-fit: contain; */
  object-fit: cover;
}

.post-bottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px dotted rgb(222, 222, 222);
  border-bottom: 1px dotted rgb(222, 222, 222);
  padding: 5px 0;
}

.post-bottom-left {
  display: flex;
  align-items: center;
}

.post-like-icon {
  height: 24px;
  width: 24px;
  margin-right: 10px;
  cursor: pointer;
}

.post-like-counter {
  font-size: 15px;
}

.post-comment-text {
  font-size: 15px;
  cursor: pointer;
}

.comment-input-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment-row {
  background-color: #f9f9f9dd;
  padding: 5px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.comment-card {
  display: flex;
  padding: 5px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.comment-card.reply {
  margin-left: 50px;
}

.reply-input-box {
  display: flex;
  align-items: center;
  width: 50%;
  margin-left: 50px;
  /* visibility: hidden;
  display: none; */
}

/* .comment-row.show-reply-input-box .reply-input-box{
  visibility: visible;
  display: block;
} */

.comment-body {
  min-width: 200px;
}

.comment-body .comment {
  background-color: #f6f5f5;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.comment-body .comment>p {
  margin-bottom: 0;
}

.toggle-reply-input {
  cursor: pointer;
  color: #333;
  width: 45px;
  font-size: 14px;
  margin-left: auto;
  text-align: center;
  background-color: #f6f5f5;
  border-radius: 5px;
}



.post-top-right {
  position: relative;
  z-index: 9;
  cursor: pointer;
}

.post-top-right .dropdown {
  position: absolute;
  right: 10px;
  top: 25px;
  width: 108px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px;
}

.post-top-right .dropdown label {
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  padding: 2px 0;
}

.post-top-right .dropdown label:hover,
.post-top-right .dropdown label.selected {
  font-weight: bold;
}

.post-top-right .dropdown label:last-child {
  border-bottom: none;
}