.sidebar {
	height: calc(100vh - 50px);
  /* overflow-y: scroll; */
  position: sticky;
  top: 50px;
}

/* ::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track{
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb{
  background-color: #999;
} */

.sidebar-list{
	border-radius: 30px;
}

.sidebar-list-item {
	display: flex;
	align-items: center;
}

.sidebar-list-item.logout,
.sidebar-list-item a {
  display: block;
  text-decoration: none;
  color: #e38802;
  width: 100%;
  padding: 15px 10px;
}

.sidebar-list-item a.active,
.sidebar-list-item.logout:hover,
.sidebar-list-item a:hover {
  color: #e38802;
  background-color: #f4f4f4;
  cursor: pointer;
}

.sidebar-list-item-icon {
	margin-right: 15px;
}

.date-time-wrap{
  border-radius: 15px;
  margin-top: 30px;
}

.date-time-wrap .time,
.date-time-wrap .date{
  padding: 15px 10px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 45px;
  text-shadow: 2px 2px 2px #ffa803;
}