.profile-right-top {
}

.profile-cover {
	height: 320px;
	position: relative;
}

.profile-cover-img {
	width: 100%;
	height: 250px;
	object-fit: cover;
}

.profile-user-img {
	width: 150px;
	height: 150px;
  border-radius: 50%;
	object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  border: 3px solid #fff;
  bottom: 0;
}

.profile-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0px;
}

.profile-info-name{
  font-size: 24px;
}

.profile-info-desc{
  font-weight: 300;
}

.tab-control .nav-item {cursor: pointer;}

.friends-wrapper{
  display: flex;
  margin: -10px;
}

.friends-wrapper .friends-item{
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
	display: flex;
	flex-direction: column;
  align-items: center;
}

.friends-wrapper .friends-img{
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 5px;
	margin-bottom: 5px;
}

.friends-wrapper .friends-name{
  margin-top: 10px;
}

.friends-wrapper button{
  margin-top: 10px;
}

.friend-list-hidden-text{
  font-size: 50px;
  color: rgb(220, 220, 220);
  text-align: center;
  margin-top: 100px;
}