
.profile-info-title {
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: 500;
}

.about-wrap {
	margin-bottom: 30px;
}

.about-info-item {
	margin-bottom: 10px;
}

.about-info-key {
	font-weight: 500;
	margin-right: 10px;
	color: #333;
}

.about-info-value {
	font-weight: 300;
}