.profile-info-title {
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: 500;
}

.about-wrap {
	margin-bottom: 30px;
}

.about-info-item {
	margin-bottom: 10px;
}

.about-info-key {
	font-weight: 500;
	margin-right: 10px;
	color: #333;
}

.about-info-value {
	font-weight: 300;
}


.change-password-input p {
	font-size: 12px;
	color: #333;
	margin-bottom: 0;
}

.change-password-input {
	padding: 10px;
	border: 1px solid #fff;
	border-radius: 15px;
}

.change-email-form input,
.change-password-input input {
	width: 300px;
}

.change-email-wrap{
	display: flex;
	justify-content: space-between;
}

.gi-field-wrap{
	width: 300px;
}